/* Configurações para o fundo das linhas */
#lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* As linhas ficam no fundo */
    pointer-events: none; /* Impede interação com as linhas */
}

/* Estilo das linhas */
.line {
    position: absolute;
    width: 100%;
    height: 9px; /* Espessura das linhas */
    background-color: white; /* Cor das linhas */
    border-radius: 40px;
    animation: moveLine 2s linear infinite; /* Animação das linhas */
}

/* Animação das linhas */
@keyframes moveLine {
    0% {
        transform: translateX(-100%); /* Começa fora da tela à esquerda */
    }
    100% {
        transform: translateX(100%); /* Move até fora da tela à direita */
    }
}

/* Configuração do título */
h1 {
    margin: 0;
    padding: 20px 0;
    color: white;
    font-size: 78px;
    z-index: 2; /* Garante que o título fique acima das linhas */
    position: relative;
}

/* Configuração dos botões */
.container {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Centraliza os botões verticalmente */
    flex-grow: 1; /* Garante que a seção ocupa o espaço restante */
    gap: 20px; /* Espaçamento entre os botões */
    z-index: 2; /* Garante que os botões fiquem acima das linhas */
    position: relative;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 50px;
    font-weight: bold;
}

.button:hover {
    background-color: blue;
    color: white;
    transform: scale(1.1);
}